.comments-container {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  width: 55%;
}



.comment-form-container {
  display: flex;
  background: #ececec;
  border: 1px solid #efefef;
  border-radius: 2px;
  margin: 23px;
}

.comment-form {
  width: 100%;
  align-self: center;
  padding: 4px;
  border-radius: 19px;
}

.commentor-profile-pic{
  height: 40px;
}
.comment-form-input {
  width: 97%;
  padding: 5px;
  margin-left: 2px;
  border-radius: 4px;
  border: 1px solid #dadada;
  font-size: 16px;
  font-family: ubuntu;
}

.under-comment_form {
  display: flex;
}


.artist-box {
  margin: 0 35px;
}
.comments-artist-pic {
  border-radius: 50%;
  height: 130px;
}

.comments-artist-name {
  color: black;
  text-decoration: none;
}





.comments-list {
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding-top: 13px;
  margin-left: 17px;
}

.comment-item {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.comment-profile-pic {
  border-radius: 50%;
  height: 40px;
}

.comment-date {
  font-size: 14px;
}

.comment-center {
  width: 100%;
}

.comment-author {
  padding-left: 11px;
  color: #b1b1b1;
  font-size: 14px;
  text-decoration: none;
}

.comment-body {
  padding-left: 11px;
  padding-top: 6px;
  font-size: 14px;
}



.empty-comments {
  font-size: 33px;
  color: #adadad;
}
