/* .greeting-bar {
  display: flex;
  justify-content: space-between;
  top: 5%;
} */
.bar-outer-container {
  background: #333333;
  color: white;
  height: fit-content;
  font-size: 22px;
  padding: 0 4%;
}



.welcome {
  color: #ffebdaab;
  font-size: 19px;
  align-self: center;
  margin: 9px;
  font-weight: 500;
}

.greeting-bar {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  height: 45px;
  align-items: center;
  margin: 0px auto;
  padding-right: 5px;
  box-sizing: border-box;
}

.nav-buttons {
  display: flex;
}


.login-button {
  background: transparent;
  border: 1px solid #ffebdae8;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 15px;
  color: #ffebdae8;;
  margin: 4px;
  transition-property: border-color, color;
  transition-duration: .2s;
}

.login-button:hover{
  border: 1px solid rgb(255, 80, 0);
  color: rgb(255, 80, 0);
}

.signup-button{
  background-color: rgb(255, 80, 0);
  color: #ffebdae8;;
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
  font-size: 15px;
  margin: 4px;
  transition-property: background-color;
  transition-duration: .2s;
}

.signup-button:hover{
  background-color: rgb(255, 119, 57);
}
