.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-child {
  width: 300px;
  height: 450px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.modal-form {
  display: flex;
  justify-content: center;
}

.modal-input {
  border-radius: 4px;
}

.modal-submit {
  background-color: rgb(255, 123, 0);
  color: white;
  width: 80%;
  font-weight: bold;
  box-sizing: border-box;
}

.modal-errors {
  color: rgb(255, 123, 0);
}

.login-button {
  background: rgba(0, 0, 0, 0.0);
  color: white;
  height: 45px;
  width: 65px;
}

.signup-button {
  background-color: rgb(255, 123, 0);
  color: white;
  height: 45px;
  width: 65px;
}

#root {
  background-color: pink;

}
