
button:hover{
  cursor: pointer;
}

.modal-content {

}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 200px; opacity: 1}
}
.modal-child {
  width: 325px;
  height: 325px;
  top: 200px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.form-header {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
}

.alt-session {
  border: none;
  font-weight: 700;
  font-size: 18px;
}



.modal-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.modal-errors {
  color: rgb(255, 80, 0);
  margin: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.modal-input {
  border-radius: 4px;
  padding: 10px 5px 10px 6px;
  margin: 5px 0 8px 0;
  font-size: 16px;
  border: 1px solid grey;
  font-family: 'Ubuntu', sans-serif;
}

.modal-submit {
  background-color: rgb(255, 80, 0);
  color: white;
  border-radius: 4px;
  padding: 10px 5px 10px 6px;
  margin: 5px 0 8px 0;
  font-size: 18px;
  transition-property: background-color;
  transition-duration: .4s;
}

.modal-submit:hover{
  background-color: rgb(255, 119, 57);
}

.modal-appear {
  opacity: 0.01;
}

.modal-appear.modal-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.alt-form:hover{
  color: rgb(255, 80, 0);
}

.legal{
  color: #d0d0d0;
  font-size: 12px;
  padding: 10px 16px 5px 15px;
}
/*




.login-button {
  background: rgba(0, 0, 0, 0.0);
  color: white;
  transition-delay: 1s;

}
.login-button:hover {
  border-style: inset;
  transition-delay: 1s;
}


.signup-button {
  background-color: rgb(255, 123, 0);
  color: white;
   height: 45px;
  width: 65px;
}



.form-type {

}  */
