.playback-container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(241, 243, 244);
}

.playback-track-artwork {
  width: 40px;
  margin-top: 2px;
  grid-area: 1 / 1/ 3 /2;
  border: 1px solid #eaeaea;
}
.audio-element {
  order: -1;
  width: 60%;
  padding-left: 20px;
}

.playback-links {
  width: 7%;
  align-self: flex-start;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
}
.playback-link-artist {
  font-size: 13px;
  text-decoration: none;
  color: grey;
  align-self: center;
  grid-area: 2/ 2;
}

.playback-link-track {
  font-size: 13px;
  text-decoration: none;
  grid-area: 1/ 2;
  color: grey;
  margin-top: 7px;
}

.playback-link-track:hover, .playback-link-artist:hover {
  color: black
}

.playback-like {
  padding-right: 10%;
}

.audio-progress{
  background-color: #ff5000;
  height: 1px;
  position: absolute;
  top: 10px;
}

.full-length-body{
  position: relative;
  grid-area: 1/ 7;
  align-self: center;
  padding: 10px 0 10px 0;
}

.audio-full-length{
  width: 500px;
  height: 1px;
  background-color: #c3c3c3;
}

.full-length-body:hover > .progress-ball{
  opacity: 1;
}


.audio-player-container{
  padding-left: 19px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 2fr 7fr 1fr 2fr;
}

.rewind{
  grid-area: 1/ 1;
}

.ellapsed-time{
  grid-area: 1/6;
  justify-self: end;
  padding-right: 5px;
  font-size: 14px;
  color: #ff5000;
}

.duration{
  grid-area: 1/8;
  padding-left: 5px;
  font-size: 14px;
}

.progress-ball{
  width: 7px;
  height: 7px;
  background-color: #ff5000;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  opacity: 0;
  transition: 0.2s;
  top: 7px;
}

.progress-ball:hover{
  opacity: 1;
}

.volume-wrapper{
  visibility:  hidden;
  transform: rotateZ(270deg);
  position: fixed;
  left: 72.5%;
  bottom: 106px;
  background: #f1f3f400;
  border-radius: 4px;
  transition: visibility 1s ease-out
  /* transition-delay: 2s; */
}
.volume-wrapper:hover{
  display: inline;
  height: auto;
}

.volume-wrapper input {
  padding: 13px;
  background: #f1f3f4;
  border-radius: 4px;
  box-shadow: 0 1px 9px 0 rgba(132, 132, 132, 0.39), 0 1px 0px 0 rgb(220, 220, 220);
}


}
.volume-wrapper input:hover {
  cursor: pointer;
}

.volume-button{
  width: 40px;
  height: 17px;
  align-self: start;
  justify-self: center;
  grid-area: 1/9;
}
.volume-button:hover + .volume-wrapper, .volume-wrapper:hover{
  visibility: inherit;
  /* transition: height 2s ease-out 2s, display 2s ease-out 0s;; */
}



input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  /* box-shadow: 1.2px 1.2px 15px rgba(0, 0, 0, 0.41), 0px 0px 1.2px rgba(13, 13, 13, 0.41); */
  background: #ff7113;
  border-radius: 14.1px;
  border: 0px solid rgba(0, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  /* box-shadow: 0.3px 0.3px 4.5px #b26c00, 0px 0px 0.3px #cb7b00; */
  border: 0px solid rgba(0, 0, 0, 0);
  height: 7px;
  width: 7px;
  border-radius: 50px;
  background: #ff5000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff7113;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  /* box-shadow: 1.2px 1.2px 15px rgba(0, 0, 0, 0.41), 0px 0px 1.2px rgba(13, 13, 13, 0.41); */
  background: #ff7113;
  border-radius: 14.1px;
  border: 0px solid rgba(0, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  /* box-shadow: 0.3px 0.3px 4.5px #ff5000, 0px 0px 0.3px #ff5000; */
  border: 0px solid rgba(0, 0, 0, 0);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #ff5000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ff7113;
  border: 0px solid #ff5000;
  border-radius: 28.2px;
  /* box-shadow: 1.2px 1.2px 15px rgba(0, 0, 0, 0.41), 0px 0px 1.2px #ff5000; */
}
/* input[type=range]::-ms-fill-upper {
  background: #ff5000;
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 28.2px;
  box-shadow: 1.2px 1.2px 15px rgba(0, 0, 0, 0.41), 0px 0px 1.2px #ff5000;
} */
input[type=range]::-ms-thumb {
  /* box-shadow: 0.3px 0.3px 4.5px #b26c00, 0px 0px 0.3px #cb7b00; */
  border: 0px solid rgba(0, 0, 0, 0);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #ff8600;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff5000;
}
/* input[type=range]:focus::-ms-fill-upper {
  background: #ff5000;
} */
