.playback-container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(241, 243, 244);
}

.playback-track-artwork {
  height: inherit;
  padding: 5px;
}
.audio-element {
  order: -1;
  width: 60%;
  padding-left: 20px;
}

.playback-links {
  width: 10%;
  align-self: flex-start;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
}
.playback-link-artist {
  font-size: 13px;
  text-decoration: none;
  color: grey;
  align-self: center;
}

.playback-link-track {
  font-size: 13px;
  text-decoration: none;
  grid-area: 2/ 1;
  color: grey;
  margin-top: 7px;
}

.playback-link-track:hover, .playback-link-artist:hover {
  color: black
}

.playback-like {
  padding-right: 10%;
}

.audio-full-length{
  background-color: #ff5000; 
  height: 2px;
}

.audio-progress{
  width: 500px;
   height: 2px;
  background-color: #c3c3c3;
}
