.search {
  position: absolute;
  top: 60%;
  left: 60%;
}

.search-form {
  display: flex;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.search-submit {
  border-radius: 5px;
  height: 25px;
  font-family: ubuntu;
  align-self: center;
  background: #00000042;
  border: none;
}

.search-input{
  font-family: ubuntu;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  margin: 3px;
  background-color: #bababa;
}

.search-input:focus{
  background-color: #ffffff
}
