.search {
  width: fit-content;
  grid-area: 1/ 3/ 2/4;
}

.search-form {
  min-width: 375px;
  max-width: 503px;
  display: grid;
  grid-template-columns: 400px 20px;
}

.search-submit {
  opacity: 0.6;
  grid-area: 1/2;
}

.search-input{
  width: 100%;
  font-family: ubuntu;
  border: 1px solid #929292;
  border-radius: 6px;
  font-size: 20px;
  margin: 5px;
  background-color: #525252;
  transition-property: background-color;
  transition-duration: .2s;
  padding: 4px;
  grid-area: 1/1/2/3;
}

.search-input:focus{
  background-color: #dcdcdc
}
