.greeting-container {
  font-family: 'Ubuntu', sans-serif;
  background-image: image_url('crowd.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  padding-top: 15px;
  width: 100%;
  height: 400px;
}

.splash-body {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 92%;
  height: 100%;
  background-color: #f2f2f2;
}

.logo {
  width: max-content;
  color: white;
  background: linear-gradient(#f70,#f30);
  align-items: center;
  text-decoration: none;
  display: flex;
  padding: 0 7px 0 5px;
  height: 45px;
  margin-top: 0px;
  grid-area: 1/ 1;
}

.logo div{
  font-size: 15px;
  margin-left: 8px;
}

.logo .fa {
  font-size: 38px;
  padding-bottom: 5px;
}

.top-tracks{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1372px;
  margin: 0 auto;
  padding-left: 170px;
}

.popular-track{
  width: 155px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.top-track-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top-track-link{
  text-decoration: none;
  color: black;
  padding-top: 10px;
  width: 155px;
}

.top-artist-link {
  text-decoration: none;
  color: #999;
  font-size: 14px;
  padding-top: 4px;
}

.trending-title{
  margin: 0 auto;
  padding: 65px;
  font-size: 25px;
}

.explore{
  background-color: rgb(255, 80, 0);
  color: #ffffffe8;
  border: none;
  border-radius: 4px;
  padding: 15px 17px;
  font-size: 15px;
  margin-left: 44%;
  margin-top: 100px;
  margin-bottom: 150px;
  transition-property: background-color;
  transition-duration: .2s;
  text-decoration-line: none;
  width: 161px;
  cursor: pointer;
  font-size: 19px;
}

.explore:hover{
  background-color: rgb(255, 119, 57);
}

.never-stop{
  width: 100%;
  margin-left: 14%;
  height: 391px;
  background-image: url(https://a-v2.sndcdn.com/assets/images/front/never_stop_listening@1x-9c5264f.jpg);
  background-repeat: no-repeat;
}

.calling-creators{
  background-image: url(https://a-v2.sndcdn.com/assets/images/home/hp_creator_image-e08dee4.jpg);
  height: 350px;
  color: #fff;
  background-size: auto;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  align-self: unset;
  margin: 0 auto;
  margin-left: 7.5%;
}

.calling-creators p {
  font-size: 24px;
  display: block;
  width: 400px;
  padding: 17px 0 0 170px;

}

.calling-creators h3 {
  font-size: 37px;
  display: block;
  padding: 51px 0 0 170px;
}
