.track-show-container {
  width: 92%;
  padding-left: 4%;
  position: absolute;
  top: -35px;
  z-index: -1;
  min-width: 1029.560px;
}

.track-show-banner{
  margin-top: 80px;
  height: 380px;
  background: linear-gradient(-30deg, rgb(137, 106, 121), rgb(126, 158, 164));
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 1fr 1fr 3fr;
}

.track-banner-title{
  grid-area: 2 / 2;
  background: black;
  color: #f3f3f3;
  height: fit-content;
  padding: 10px;
  font-size: 23px;
  width: fit-content;
}

.track-banner-artist{
  text-decoration: none;
  grid-area: 1 / 2;
  background: black;
  color: #b9b9b9;
  height: fit-content;
  padding: 4px;
  font-size: 17px;
  align-self: end;
  width: fit-content;
  margin-bottom: 4px;
}
.track-banner-artist:hover{
  color: #f3f3f3;
}

.track-banner-play{
  grid-area: 1/ 1/ 3/ 2;
  background-image: image_url('soundcloud_play.jpeg');
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: 70px;
  background-position: center;
  justify-self: self-end;
  align-self: center;
  margin: 12px;
}

.track-banner-date{
  grid-area: 1 / 4;
  align-self: end;
  justify-self: start;
  color: white;
}

.track-show-artwork {
  grid-area: 1 / 5/3/ 5;
  width: 340px;
  align-self: self-start;
  justify-self: end;
  padding-top: 20px;
  padding-right: 20px;
}

.track-show-options{
  display: flex;
  justify-content: space-between;
}

.track-show-button{
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
  margin-right: 5px;
}

.track-show-button:hover {
  border: 1px solid #b7b7b7;
}


.track-show-stat-container{
  margin-left: 25px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 13px;
}

.show-like-count{
  color: #a2a2a2;
  font-size: 15px;
  margin-left: 10px;
}

.track-show-stats {
  align-self: center;
  display: flex;
  align-items: center;
}

.track-show-follow {
  margin-top: 10px;
  padding: 5px 7px 5px 7px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  border: 1px solid;
}

.track-show-follow:hover {
  border-color: 1px solid #ff5000;
}

.track-show-user-stats{
  margin-top: 4px;
}

.user-stats-followers{
  text-decoration: none;
  color: #737272;
  font-size: 13px;
}

.user-stats-tracks{
  padding-left: 12px;
  text-decoration: none;
  color: #737272;
  font-size: 13px;
}
.twitter-hashtag-button{
  text-decoration: none;
  color: black;
}

.sidebar-user{
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebar-ul {
  display: flex;
  padding-bottom: 30px;
}

.sidebar-li {
    margin-right: -7px;
}

.sidebar-stat-label {
  color: #a2a2a2;
  padding-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 4px;
}

.sidebar-stat-label .fa:before {
  margin-right: 5px;
  font-size: 16px;
}

.side-chelek {
  width: 285px;
}
